@page "/"

<nav class="navbar navbar-light bg-light fixed-bottom">
    <div class="container-fluid justify-content-around">
        <a class="nav-link text-center" href="">
            <i class="fas fa-home"></i><br />
            Today
        </a>
        <a class="nav-link text-center" href="calendar">
            <i class="fas fa-calendar-alt"></i><br />
            Calendar
        </a>
        <a class="nav-link text-center" href="counter">
            <i class="fas fa-info-circle"></i><br />
            About
        </a>
    </div>
</nav>

<style>
    .nav-link {
        flex-grow: 1; /* Make links fill the available space */
        text-align: center; /* Center-align text */
        padding: 10px; /* Add padding */
    }

    .navbar {
        background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    }
</style>

