@page "/"

<nav class="navbar navbar-expand navbar-light bg-light fixed-bottom">
    <div class="container-fluid justify-content-around">
        <a class="nav-link text-center" href="">
            <i class="fas fa-home fa-lg"></i><br />
            Home
        </a>
        <a class="nav-link text-center" href="counter">
            <i class="fas fa-plus fa-lg"></i><br />
            Counter
        </a>
        <a class="nav-link text-center" href="fetchdata">
            <i class="fas fa-list fa-lg"></i><br />
            Fetch Data
        </a>
        <a class="nav-link text-center" href="about">
            <i class="fas fa-info-circle fa-lg"></i><br />
            About
        </a>
    </div>
</nav>

<style>
    .nav-link {
        flex-grow: 1; /* Make links fill the available space */
        text-align: center; /* Center-align text */
        padding: 10px; /* Add padding */
    }

    .navbar {
        background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    }
</style>

