@page "/"

<nav class="navbar navbar-light fixed-bottom mobile-navbar">
    <div class="container-fluid justify-content-around">
        <a class="nav-link text-center" href="">
            <i class="fas fa-home"></i><br />
            Today
        </a>
        <a class="nav-link text-center" href="calendar">
            <i class="fas fa-calendar-alt"></i><br />
            Calendar
        </a>
        <a class="nav-link text-center" href="counter">
            <i class="fas fa-info-circle"></i><br />
            About
        </a>
    </div>
</nav>
