@inherits LayoutComponentBase

<PageTitle>Taskly</PageTitle>

<ComponentsLib.TopNavBar />

<main>
    <article class="content px-4">
        <div class="py-2">
            @Body
        </div>
    </article>
</main>

<ComponentsLib.BottomNavBar />

@code {
   
}