body[b-o9qgke606t] {
    background-color: #f8f9fa; 
}

.card[b-o9qgke606t] {
    margin: 0 auto; 
    width: 50%; 
}

.card-header[b-o9qgke606t] {
    text-align: center; 
}

.card-text[b-o9qgke606t] {
    font-size: 1.2em; 
}
