.task-card[b-aossny7kl2] {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

    .task-card:hover[b-aossny7kl2] {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

.card-body[b-aossny7kl2] {
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.badge[b-aossny7kl2] {
    font-size: 0.9em;
    padding: 0.5em 0.8em;
}

ul[b-aossny7kl2] {
    padding-left: 15px;
}

a[b-aossny7kl2] {
    color: #007bff;
    text-decoration: none;
}

    a:hover[b-aossny7kl2] {
        text-decoration: underline;
    }
